.app{
	position: relative;
}
.header{
	position: relative;
	width: 100%;
	height: 80px;
	background-color: #2d3d1d;
}
.header__logo{
	left: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-25px);
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 100%;
	border: 3px solid orange;
}
.page{
	margin-top: 10px;
	display: flex;
	position: relative;
}
.page__sidebar{
	background-color: #2d3d1d;
	width: 20%;
	margin-right: 20px;
}
.page__list{
	list-style: none;
}
.page__list li{
	margin-bottom: 20px;
}
.page__list li a{
	text-decoration: none;
	color: #fff;
}
.page__content{
	width: 80%;
	background-color: orange;
	padding: 0 20px;
}